*{
    padding: 0;
    margin: 0;
    color: white;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
html{
    background-color: #232524;
}

body::-webkit-scrollbar {
display: none;
}

