.inner{
    position: absolute;
    left: 3.5%;
    top: 11%;
}
#main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.ready{
    position: relative;
    width: calc(100vw*1772/1920);
    color: white;
}
.ready h1{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
}
.ready .yes{
    display: inline-block;
    width: calc(100vw*436/1920);
    border: solid calc(100vw*6/1920) #FCE876;
    border-radius: 10000px;  
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
    text-align: center;
}
.ready .arrow{
    display: inline-block;
    position: relative;
    width: calc(100vw*395/1920);
    border-bottom: dashed calc(100vw*16/1920) #fce876;
    top: calc(100vh*-40/1080);
}
.ready .imReady{
    position: absolute;
    display: inline-block;
    width: calc(100vw*627/1920);
    left: calc(100vw*1145/1920);
    top: calc(100vh*5/1080);
    background-color: #FCE876;
    color: #1d1d1d;
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
    text-align: center;
    animation: gelatine 3s infinite;
}
@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 0.9); }
    50% { transform: scale(1, 1); }
    75% { transform: scale(0.95, 0.95); }
  }
.blue_box{
    position: absolute;
    width: calc(100vw*96/1920);
    top: calc(100vh*-100/1080);
    left: calc(100vw*520/1920);
}

.set{
    position: relative;
    width: calc(100vw*1850/1920);
    top: calc(100vh*55/1080);
    color: white;
}
.set h1{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
    text-align: center;
}
.circle_set{
    display: inline-block;
    width: calc(100vw*436/1920);
    background-color: #6DEBF5;
    border-radius: 10000px;  
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
    text-align: center;
    color: #232524;
    animation: bounce 2s ease infinite;
}
@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}
.circle_up{
    display: inline-block;
    width: calc(100vw*333/1920);
    border:solid calc(100vw*6/1920) #6DEBF5;
    border-radius: 10000px;  
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
    text-align: center;
}
.let{
    position: relative;
    width: calc(100vw*1763/1920);
    top: calc(100vh*105/1080);
    color: white;
}
.let h1{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
}
.go{
    display: inline-block;
    position: absolute;
    width: calc(100vw*1100/1920);
    left: calc(100vw*430/1920);
    top: calc(100vh*-10/1080);
    /* background-color: #E94429; */
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
    padding: 10px;
    color: #232524;
}
.next{
    position: absolute;
    width: calc(100vw*1320/1920);
    top: calc(100vh*-95/1080);
    left: calc(100vw*400/1920);
    z-index: -1;

}

.look{
    position: relative;
    width: calc(100vw*1763/1920);
    top: calc(100vh*155/1080);
    color: white;
}
.look h1{
    display: inline-block;
    font-family: 'Montserrat';
    font-size: calc(100vw*150/1920);
    font-weight: 900;
}
.circle_and{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(100vh*130/1080);
    left: calc(100vw*40/1920);
    width: calc(100vw*161/1920);
    height: calc(100vw*161/1920);
    background-color: #E94429;
    color: white;
    border-radius: 100%;
    font-family: 'Montserrat';
    font-size: calc(100vw*35/1920);
    transform: rotate(-20deg);
    z-index: 1;
}
.circle_now{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(100vh*380/1080);
    left: calc(100vw*40/1920);
    width: calc(100vw*161/1920);
    height: calc(100vw*161/1920);
    background-color: #FCE876;
    color: #232524;
    border-radius: 100%;
    font-family: 'Montserrat';
    font-size: calc(100vw*35/1920);
    transform: rotate(20deg);
    z-index: 1;
}
.lineline{
    position: absolute;
    width: calc(100vw*178/1920);
    left: calc(100vw*280/1920);
    top: calc(100vh*340/1080);
    z-index: -3;
}
.lineline_2{
    position: absolute;
    width: calc(100vw*750/1920);
    left: calc(100vw*470/1920);
    top: calc(100vh*160/1080);
    z-index: -3;
}


/* ------소개-------- */
.inner_intro{
    position: absolute;
    left: 4%;
}
#introduce{
    width: 100vw;
    height: 310vh;
}
#introduce h1{
    width: calc(100vw*1200/1920);
    font-family: 'pretendard-sb';
    font-weight: 600;
    font-size: calc(100vw*100/1920);
    color: white;
}
.hello{
    position: absolute;
    left: calc(100vw*47/1920);
}
.first_line{
    position: absolute;
    width: calc(100vw*1007/1920);
    border-bottom: solid calc(100vw*6/1920) white;
    left: calc(100vw*648/1920);
    top: calc(100vh*58/1080);
}
.progress{
    position: relative;
}
.progress h1{
    position: absolute;
    width: calc(100vw*1200/1920);
    left: calc(100vw*582/1920);
    top: calc(100vh*256/1080);
}
.progress img{
    position: absolute;
    width: calc(100vw*459/1920);
    left: calc(100vw*54/1920);
    top: calc(100vh*176/1080);
    animation: bounce-in 5s infinite;
}
@keyframes bounce-in {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }
.progress p{
    position: absolute;
    width: calc(100vw*1830/1920);
    left: calc(100vw*498/1920);
    top: calc(100vh*563/1080);
    font-family: 'pretendard-re';
    font-weight: 500;
    font-size: calc(100vw*23/1920);
    text-align: left;
    color: white;
    line-height: 196.5%;
    letter-spacing: 0.03em;
}
.second_line{
    position: absolute;
    height: calc(100vw*380/1080);
    border-left: solid calc(100vw*6/1920) white;
    left: calc(100vw*1701/1920);
    top: calc(100vh*490/1080);
    /* transform: rotate(90deg); */
}
.card{
    position: absolute;
    width: calc(100vw*242/1920);
    left: calc(100vw*498/1920);
    top: calc(100vh*910/1080);
}
.uhoh{
    position: absolute;
    width: calc(100vw*216/1920);
    left: calc(100vw*766/1920);
    top: calc(100vh*910/1080);
}
.travel{
    position: absolute;
    width: calc(100vw*339/1920);
    left: calc(100vw*1008/1920);
    top: calc(100vh*910/1080);
}
.poster{
    position: absolute;
    width: calc(100vw*294/1920);
    left: calc(100vw*1373/1920);
    top: calc(100vh*745/1080);
}
.grow h1{
    position: absolute;
    width: calc(100vw*1200/1920);
    left: calc(100vw*52/1920);
    top: calc(100vh*1337/1080);
}
.grow p{
    position: absolute;
    width: calc(100vw*1597/1920);
    left: calc(100vw*47/1920);
    top: calc(100vh*1682/1080);
    font-family: 'pretendard-re';
    font-weight: 500;
    font-size: calc(100vw*23/1920);
    text-align: left;
    color: white;
    line-height: 196.5%;
    letter-spacing: 0.03em;
}
.grow_img{
    position: absolute;
    display: block;
    width: calc(100vw*1815/1920);
    top: calc(100vh*1174/1080);
    left: calc(100vw*-80/1920);
}

.team{
    position: relative;
}
.team h1{
    position: absolute;
    width: calc(100vw*743/1920);
    left: calc(100vw*961/1920);
    top: calc(100vh*2250/1080);
    text-align: left;
}
.team p{
    position: absolute;
    width: calc(100vw*1750/1920);
    left: calc(100vw*961/1920);
    top: calc(100vh*2592/1080);
    font-family: 'pretendard-re';
    font-weight: 500;
    font-size: calc(100vw*23/1920);
    text-align: left;
    color: white;
    line-height: 196.5%;
    letter-spacing: 0.03em;
    text-align: left;
}
.team_circle1{
    position: absolute;
    width: calc(100vw*272/1920);
    height: calc(100vw*272/1920);
    background-color: #FCE876;
    border-radius: 100%;
    left: calc(100vw*52/1920);
    top: calc(100vh*2325/1080);
}
.team_circle2{
    position: absolute;
    width: calc(100vw*272/1920);
    height: calc(100vw*272/1920);
    border:solid calc(100vw*6/1920) #FCE876;
    border-radius: 100%;
    left: calc(100vw*52/1920);
    top: calc(100vh*2238/1080);
}
.team_images{
    position: relative;
    display: block;
}
.images_team{
    position: absolute;
    width: calc(100vw*348/1920);
    left: calc(100vw*231/1920);
    top: calc(100vh*2442/1080);
}
.images_team2{
    position: absolute;
    width: calc(100vw*348/1920);
    left: calc(100vw*231/1920);
    top: calc(100vh*2686/1080);
}
.images_me{
    position: absolute;
    width: calc(100vw*296/1920);
    left: calc(100vw*591/1920);
    top: calc(100vh*2442/1080);
}
.images_wall{
    position: absolute;
    width: calc(100vw*348/1920);
    left: calc(100vw*231/1920);
    top: calc(100vh*2929/1080);
}
.images_wall2{
    position: absolute;
    width: calc(100vw*296/1920);
    left: calc(100vw*591/1920);
    top: calc(100vh*2875/1080);
}
/* -----work-------- */
#work{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 110vh;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: calc(100vw*90/1920);
}
.work_set{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw*395/1920);
    top: calc(100vw*1/1080);
    border: solid calc(100vw*6/1920) #6DEBF5;
    border-radius: calc(100vw*1000/1920);
    text-align: center;
}
.work_up{
    position: absolute;
    width: calc(100vw*200/1920);
    height: calc(100vw*200/1920);
    top: calc(100vh*180/1080);
    background-color: #E94429;
    text-align: center;
    transform: rotate(45deg);
    z-index: -3;
}
.work_pr{
    position: absolute;
    width: calc(100vw*900/1920);
    top: calc(100vh*380/1080);
    border: solid calc(100vw*6/1920) #6DEBF5;
    text-align: center;
    z-index: -2;
}
.work_text{
    position: absolute;
    top: calc(100vh*200/1080);
}
.work_circle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw*100/1920);
    height: calc(100vw*100/1920);
    background-color: #FCE876;
    border-radius: 100%;
    color: #232524;
    font-size: calc(100vw*35/1920);
    top: calc(100vh*25/1080);
    left: calc(100vw*710/1920);
    transform: rotate(-15deg);
}

.work_img{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: calc(100vh*300/1080);
    width: calc(100vw*1500/1920);
}
.work_img img{
    width: calc(100vw*439/1920);
    display: inline;
}
.work_container{
    z-index: 0;
    margin: 0 20px;
}
.work_container a{
    display: inline;
}
.hide_img img{
    width: calc(100vw*350/1920);
    top: calc(100vh*650/1080);
    z-index: -1;
}
.cloup_thumb{
    position: absolute;
    left: calc(100vw*320/1920);
    opacity: 0;
}

.lizzie_thumb{
    position: absolute;
    left: calc(100vw*790/1920);
    opacity: 0;
}
.vegan_thumb{
    position: absolute;
    left: calc(100vw*1250/1920);
    opacity: 0;
}

.active{
    opacity: 1;
    animation-name: fadeIn;
    animation: fadeIn 0.4s ease-in-out;
}
@keyframes fadeIn{
    from{
        opacity: 0;
        transform: translateY(10px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

/* ----contact---- */
#contact{

    width: 100vw;
    height: 105vh;
    /* top: calc(100vh*4800/1080); */
}
.contact_inner{
    position: absolute;
    left: 4%;
}
.profile{
    position: absolute;
    display: block;
    width: calc(100vw*418/1920);
    left: calc(100vw*43/1920);
}
.about{
    position: absolute;
    box-sizing: border-box;
    left: calc(100vw*579/1920);
    top: calc(100vh*90/1080);
    font-family: 'pretendard-sb';
}
.about h3{
    width: 1000%;
    font-size: calc(100vw*35/1920);
}
.about h1{
    width: 1000%;
    font-size: calc(100vw*50/1920);
}
.intro ul{
    position: absolute;
    display: block;
    width: calc(100vw*280/1920);
    top: calc(100vh*235/1080);
    left: calc(100vw*581/1920);
    font-family: 'pretendard-re';
    font-size: calc(100vw*23/1920);
}
.intro li{
    margin-bottom: calc(100vh*30/1080);
    width: 500%;
}

.can_img{
    position: absolute;
    left: calc(100vw*54/1920);
    top: calc(100vh*670/1080);
    width: calc(100vw*230/1920);
    margin: 0 7px;
}
.can1_img img{
    position: absolute;
    top: calc(100vh*640/1080);
    width: calc(100vw*98/1920);
}
.html{
    position: absolute;
    left: calc(100vw*296/1920);
}
.css{
    position: absolute;
    left: calc(100vw*406/1920);
}
.js{
    position: absolute;
    left: calc(100vw*516.12/1920);
}

.can2_img img{
    position: absolute;
    top: calc(100vh*638/1080);
    width: calc(100vw*112/1920);
}
.ai{
    position: absolute;
    left: calc(100vw*626/1920);
}
.ps{
    position: absolute;
    left: calc(100vw*756/1920);
}
.xd{
    position: absolute;
    left: calc(100vw*886/1920);
}
.figma{
    position: absolute;
    left: calc(100vw*1016/1920);
}

.left_can{
    position: absolute;
    width: calc(100vw*1098/1920);
    /* height: calc(100vh*50/1080); */
    left: calc(100vw*43/1920);
    top: calc(100vh*536/1080);
    border-bottom: solid calc(100vw*3/1920) white;
    border-top: solid calc(100vw*3/1920) white;
    font-family: 'pretendard-sb';
    font-size: calc(100vw*30/1920);
}

.left_do{
    position: absolute;
    width: calc(100vw*1098/1920);
    left: calc(100vw*43/1920);
    top: calc(100vh*810/1080);
    border-bottom: solid calc(100vw*3/1920) white;
    border-top: solid calc(100vw*3/1920) white;
    font-family: 'pretendard-sb';
    font-size: calc(100vw*30/1920);
}

.contact_right{
    position: absolute;
    left: calc(100vw*1184/1920);
    top: 0;
}
.contact_red{
    position: absolute;
    display: inline-block;
    width: calc(100vw*535/1920);
    top: 0;
    background-color:  #E94429;
    border-radius: 10000px;  
    font-family: 'Montserrat';
    font-size: calc(100vw*95/1920);
    font-weight: 900;
    text-align: center;
}
.right_line{
    position: absolute;
    height: calc(100vw*500/1080);
    border-left: solid calc(100vw*6/1920) white;
    left: calc(100vw*260/1920);
    top: calc(100vh*0/1080);
    z-index: -1;
}
.right_circle{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw*105/1920);
    height: calc(100vw*105/1920);
    left: calc(100vw*215/1920);
    top: calc(100vh*170/1080);
    border-radius: 100%;
    background-color: #FCE876;
    font-family: 'Montserrat';
    font-size: calc(100vw*35/1920);
    color: #232524;
    transform: rotate(20deg);
}
.email_box{
    position: absolute;
    width: calc(100vw*518/1920);
    /* height: 422px; */
    left: calc(100vw*10/1920);
    top: calc(100vh*329/1080);
    padding: calc(100vw*125/1080);
    border: solid calc(100vw*6/1920) #FCE876;
    background-color: #232524;
}
.email h1{
    position: absolute;
    width: calc(100vw*304/1920);
    left: calc(100vw*172/1920);
    top: calc(100vh*10/1080);
    font-family: 'Montserrat';
    font-size: calc(100vw*90/1920);
}
.email h1:hover{
    color: #8176FC;
}
.email img{
    position: absolute;
    left: calc(100vw*28/1920);
    top: calc(100vh*10/1080);
    width: calc(100vw*119/1920);
}
.mail_address{
    position: absolute;
    width: calc(100vw*307/1920);
    left: calc(100vw*165/1920);
    top: calc(100vh*107/1080);
    font-family: 'Montserrat';
    font-size: calc(100vw*50/1920);
    text-align: right;
    color: #FCE876;
}
.mail_name{
    position: absolute;
    display: flex;
    align-items: center;
    width: calc(100vw*426/1920);
    left: calc(100vw*40/1920);
    top: calc(100vw*245/1920);
    border: solid calc(100vw*3/1920) white;
    border-radius: calc(100vw*12/1920);
    padding: calc(100vw*20/1920);
    font-family: 'pretendard-re';
    font-size: calc(100vw*24/1920);
}
.address{
    position: absolute;
    display: flex;
    align-items: center;
    width: calc(100vw*426/1920);
    left: calc(100vw*40/1920);
    top: calc(100vw*335/1920);
    border: solid calc(100vw*3/1920) white;
    border-radius: calc(100vw*12/1920);
    padding: calc(100vw*20/1920);
    font-family: 'pretendard-re';
    font-size: calc(100vw*24/1920);
}
.github{
    position: absolute;
    width: calc(100vw*535/1920);
    top: calc(100vh*830/1080);
    left: 0;
    padding-left: calc(100vw*30/1920);
    padding-top: calc(100vw*15/1920);
    padding-bottom: calc(100vw*15/1920);
    background-color: #232524;
    border: solid calc(100vw*6/1920) #5BE929;
    border-radius: 10000px;  
    font-family: 'Montserrat';
    font-size: calc(100vw*90/1920);
    font-weight: 900;
    color: white;
}
.github :hover{
    color: #E929CA;
}
.github img{
    position: absolute;
    top: calc(100vh*16/1080);
    left: calc(100vw*380/1920);
    width: calc(100vw*100/1920);
}
.github_line{
    position: absolute;
    width: calc(100vw*87/1920);
    height: calc(100vh*40/1080);
    top: calc(100vh*147/1080);
    left: calc(100vw*347/1920);
    border-bottom: solid calc(100vw*6/1920) #5BE929;
    border-right: solid calc(100vw*6/1920) #5BE929;
}
.github h2{
    position: absolute;
    top: calc(100vh*145/1080);
    left: calc(100vw*40/1920);
    font-family: 'Montserrat';
    font-size: calc(100vw*50/1920);
    text-align: center;
    line-height: calc(100vh*61/1080);
    color: #5BE929;;
}
.fight{
    position: absolute;
    left: calc(100vw*43/1920);
    top: calc(100vh*875/1080);
}
.fight li {
    margin-left: calc(100vw*8/1920);
    margin-bottom: calc(100vh*20/1080);
    font-family: 'pretendard-mi';
    font-weight: 200;
    font-size: calc(100vw*24/1920);
    display: flex;
    align-items: center;
    justify-content: center;
}

.fight ul {
    display: flex;
    width: 1000%;
}
.fight ul.text li {
    padding: calc(100vw*18/1920);
    border-radius: calc(100vw*47/1920);
    border: solid calc(100vw*3/1920) white;
}
footer{
    position: absolute;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: #6DEBF5;
    width: 100%;
    padding: 2%;
    /* top: 645vh; */
    color: #232524;
    font-family: 'pretendard-mi';
    font-size: calc(100vw*20/1920);

}
