html{
    background-color: #232524;
}
*{
    padding: 0;
    margin: 0;
    color: 000;
    font-size: 16px;
    box-sizing: border-box;
}
a{
    display: block;
    text-decoration: none;
    width: calc(100vw*100/1920);
    rotate: 90deg;
}
ul{
    list-style: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100vw*1920/1920);
    height: calc(100vh*100/1080);
    border: solid 1px white;
}
button{
    cursor: pointer;
    width: calc(100vw*64/1920);
    height: calc(100vw*64/1920);
    border-radius: 100%;
    border: solid calc(100vw*2/1920) white;
    background-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hambergerIcon{
    height: 10px;
    width:100px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    background-color: #4A2545;
    transform: translate(-50%,-50%) rotate(0deg);
    transition: all ease 0.5s;
    &::before,&::after{
      content:"";
      position: absolute;
      height: inherit;
      border-radius: inherit;
      background-color: inherit;
      margin: auto;
      width: 50%;
      transition: all ease 0.5s;
    }
    &::before{
      top: -20px;
      left: 0;
      transform-origin: left;
    }
    &::after{
      bottom:-20px;
      right: 0;
      transform-origin: right;
    }
  }
  
  .open{
    transform:translate(-50%,-50%) rotate(135deg);
    &::before{
      top:0;
      transform: translateX(100%) rotate(-90deg);
    }
    &::after{
      bottom:0;
      transform: translateX(-100%) rotate(-90deg);
    }
  }
  

/* div.bar,
div.bar:before,
div.bar:after {
    width: calc(100vw*28/1920);
    height: calc(100vw*2/1920);
    background: white;
}

div.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
}

div.bar:before {
    content: " ";
    position: absolute;
    bottom: 9px;
    transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
}

 div.bar:after {
    content: " ";
    position: absolute;
    top: 9px;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
} */
/* .button_line0{
    width: calc(100vw*28/1920);
    border-top: solid calc(100vw*2/1920) white;
} */

/* .toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .toggle span {
    display: block;
    background: #FFF;
    width: 42px;
    height: 4px;
    border-radius: 3px;
    transition: 0.25s margin 0.25s, 0.25s transform;
  }
  .toggle span:nth-child(1) {
    margin-bottom: 8px;
  }
  .toggle span:nth-child(3) {
    margin-top: 8px;
  }
  .toggle.active span {
    transition: 0.25s margin, 0.25s transform 0.25s;
  }
  .toggle.active span:nth-child(1) {
    margin-top: 8px;
    margin-bottom: -4px;
    transform: rotate(45deg);
  }
  .toggle.active span:nth-child(2) {
    transform: rotate(45deg);
  }
  .toggle.active span:nth-child(3) {
    margin-top: -4px;
    transform: rotate(135deg);
  } */
/* #gnb ul{
    display: block;
}
#gnb li{
    margin: 0 10px;
}
#gnb li a{
    font-size: 15px;
    color: #fff;
    font-weight: 500;
} */